*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: #1A0B30;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
p{
    font-size: 14px;
    color: #d1cfd8;
    font-weight: 400;
}
h1{
    font-size: 60px;
    color: #fff;
    font-weight: 800;
}
h2{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}
h3{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
h4{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #1A0B2E;
    border-bottom: 2px solid #412567;
    padding: 24px 0;
}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-parent ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-parent ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
button{
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid transparent;
}
.banner{
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 0 120px;
}
.mike-circle{
    width: 100%;
    position: relative;
}
.mike-circle .circle{
    position: absolute;
    left: 350px;
    /* left: 38%; */
    top: -365px;
}
/* .circle img{
    width: 100%;
} */
.mike{
    position: absolute;
    left: 471px;
    top: -275px;
    z-index: 1;
}
.banner-content{
    margin: 200px auto 0;
    max-width: 550px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.banner-btn p{
    margin-top: 0px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 24px 0 0;
}
.btn p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.btn2{
    background-color: transparent;
    border: 1px solid #00FF88;
}
.btn2 p{
    color: #00FF88;
}
.section-title{
    text-align: center;
    margin-bottom: 40px;
}
.about{
    padding: 60px 0;
}
.about-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.small{
    margin: 30px 0 50px;
}
.about-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* width: 100%; */
    padding-top: 40px;
    border-top: 1px solid #40256785;
}
.number h2{
    color: #00FF88;
}

.feature-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.feature-wrap{
    position: relative;
}
.feature-thumb .thumb-icon{
    position: absolute;
    top: 34px;
    left: 111px;
}
.feature-thumb .thumb-icon a{
    font-size: 63px;
}
.feature-content{
    max-width: 300px;    
    background-color: #230E3D;
    padding: 24px;
}
.feature-content p{
    margin: 10px 0;
}
.f-icon{
    color: #00FF88;
}
.host{
    background-color: #1A0B2E;
    padding: 70px 0;
}
.host-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #250D44;
    padding: 40px;
    border-radius: 20px;
}
.host-thumb img{
    width: 100%;
}
.host-content{
    max-width: 800px;
}
.host-content p{
    margin: 8px 0 16px;
}
.social-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.s-icon{
    padding: 5px;
    border-radius: 100%;
    border: 1px solid #D605CB;
}
.s-icon li a{
    color: #D605CB;
}
.s-icon:hover{
    border: 1px solid #F8C751;
}
.s-icon li a:hover{
    color: #F8C751;
}
footer{
    background: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 120px 0;
}
.footer-logo img{
    max-width: 400px;
    margin: 0 auto;
}
.footer-logo img{
    width: 100%;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0 0;
}
.footer-parent p{
    margin-top: 30px;
}